Differently defined symbol

TLSEXT_TYPE_psk_kex_modes:


from openssl/tls1.h 1.1.1b
```
# define TLSEXT_TYPE_psk_kex_modes               45
```

from libressl/2.9.2 tls1.h
```
#define TLSEXT_TYPE_psk_key_exchange_modes	45
```

Seeing RFC 8446 section 4.2, LibreSSL definition seems more conform to the RFC description.
https://tools.ietf.org/html/rfc8446#section-4.2

I see.  That makes things difficult, because now application developers will have to use their own `#ifdef NOT_OPENSSL`  and fix it.
Unforutnatly, OpenSSL isn't a Implementation of the LibreSSL API, but, rather vice versa.
I'm sorry there's 0 communication between the two.

Sure, agree.

But to be fair, these defines are not enabled in LibreSSL 2.9.2 in the first place. They are guarded by "LIBRESSL_HAS_TLS1_3", which is not defined, and so these are currently internal definitions.

Are you working on an open-source application? I did a quick Debian code search and found no public references to TLSEXT_TYPE_psk_kex_modes outside of the OpenSSL source tree itself. This and the OpenBSD ports tree are two places that we normally look at to see where an API is or isn't being used in the wild. For private or in-development apps it is harder to track what is actually used.

These lines... are the new server-name-interchange suppport I'm doing....

https://github.com/d3x0r/SACK/blob/master/src/netlib/ssl_layer.c#L705-L783
(and setup the callback here; couple lines)
https://github.com/d3x0r/SACK/blob/master/src/netlib/ssl_layer.c#L982-L987  

So in the new callback support for server name stuff, OpenSSL provides this...
SSL_client_hello_get1_extensions_present( ssl, &type, &typelen ) 

Which returns an array of numbers of types of extension information....

I was doing a reverse-lookup of the numbers to the symbols, but had a couple issues with findind a couple of the values (like 22, 23)
```
			case TLSEXT_TYPE_encrypt_then_mac:  // 22 ?? empty value
			case TLSEXT_TYPE_extended_master_secret:  // 23  ?? empty value
``

But I found that '45' was 'TLSEXT_TYPE_psk_key_exchange_modes'  but then that symbol didn't exist in OpenSSL...

But then also I changed

``` diff
-- #if !defined( LIBRESSL_VERSION_NUMBER ) || 1
+++ #if !defined( LIBRESSL_VERSION_NUMBER )
```

and then the TLSEXT_TYPE values weren't even being compiled, using the older `SSL_CTX_set_tlsext_servername_callback` method instead.

So it turns out to just be something I noticed while reading the headers :)  I didn't see there was a guard flag of  `...TLS_1_3` ;  and yes, re-enabling that bit of code all those syumbols are 'undefined'...

Another one...

                       case TLSEXT_TYPE_psk:   // openssl symbol
                       //case TLSEXT_TYPE_pre_shared_key: // LibreSSL symbol

current TLSEXT_TYPE_ diffs between openssl and libressl

| openssl                      | libressl                           | value |
|------------------------------|------------------------------------|-------|
| TLSEXT_TYPE_psk              | TLSEXT_TYPE_pre_shared_key         | 41    |
| TLSEXT_TYPE_psk_kex_modes    | TLSEXT_TYPE_psk_key_exchange_modes | 45    |


@d3x0r Won't you suggest OpenSSL project to conform to the standard symbol name ?

Sure; I just kinda you know, coded it once and forgot about it :) thanks for the poke.

I've just  added aliases for the `TLSEXT_TYPE` names that OpenSSL decided to use in https://github.com/openbsd/src/commit/e52e7f29912cfb396e8a6b212e7abab4a632d7e4