tls_check_name() and RFC 2818 section 3.1

(I sent this bug report in a mail to the libressl@ list but since it didn't appear in the web archive after 24 hours, I post it here as well.)

I was browsing the [tls_check_name()](http://cvsweb.openbsd.org/cgi-bin/cvsweb/src/lib/libtls/tls_verify.c) source code and I couldn't help noticing that...

... if `tls_check_subject_altname()` returns -1, which it does if there is a SAN field present that doesn't match, the function will instead call `tls_check_common_name()` and check the CN.

Unless I misread that logic flow, it is not adhering to RFC 2818 section 3.1 which says:

> If a subjectAltName extension of type dNSName is present, that MUST be used as the identity. Otherwise, the (most specific) Common Name field in the Subject field of the certificate MUST be used.

Meaning, that if there is a dNSName present and that doesn't match the given name, it is a mismatch that should be returned. It should then *not* continue to also try to match the CN.

Just thought I'd let you know what I think I found. Maybe I'm wrong. Enjoy!

I've just committed changes that brings the TLS name verification code in line with RFC 6125 section 6.4.4 - we now only check the CN if there are no SAN identifiers present in the certificate.