Interoperability issue with X25519/TLS1.3

When a client hello advertises TLS 1.3 but does not advertise X25519, the connection fails.

Version:
v2.9.1 and current master (c199315ee9c3)

Reproducer:
* generate certifcate: `openssl req -x509 -newkey rsa:2048 -keyout /tmp/localhost.key -out /tmp/localhost.crt -subj /CN=localhost -nodes -batch -days 365`
* start LibreSSL using `openssl s_server -www -key localhost.key -cert localhost.crt`
* connect to it using OpenSSL 1.1.1:
   1. `openssl s_client -connect localhost:4433`
   2. `openssl s_client -connect localhost:4433 -tls1_2`
   3. `openssl s_client -connect localhost:4433 -groups P-256`
   4. `openssl s_client -connect localhost:4433 -tls1_2 -groups P-256`

Result:
I, II and IV establish TLS 1.2 connection, III aborts with 
```
140619120285504:error:1409441A:SSL routines:ssl3_read_bytes:tlsv1 alert decode error:ssl/record/rec_layer_s3.c:1536:SSL alert number 50
```
on the client
and
```
139782010537792:error:140270E3:SSL routines:ACCEPT_SR_CLNT_HELLO_C:parse tlsext:/home/hkario/dev/libressl/ssl/ssl_srvr.c:1022:
```
on the server

Additional notes:
I was also able to reproduce this issue using Mozilla NSS, and as far as I know, GnuTLS also can be used to reproduce it.

See also: https://bugzilla.redhat.com/show_bug.cgi?id=1713777
https://bugzilla.redhat.com/show_bug.cgi?id=1713416


Thanks for the bug report - a fix is in the works. RFC 8446 section 9.1 states that P-256 is a MUST be supported and X25519 SHOULD be supported. While X25519 is not a MUST, it would seem an unusual situation for a client not to offer it by default.

Section 9.1 lists items that are "Mandatory to Implement", not mandatory to enable, a server doesn't become RFC non-compliant just because it has disabled some algorithms. Otherwise all servers would have to have both RSA and ECDSA certificate installed to be considered RFC compliant.

I confirmed upstream commit https://github.com/libressl-portable/openbsd/commit/9df830d67b2e42bc1a0dae799c04b687204f351b solves this issue.