Self signed CA certificate serial number appears to be too small

Hi,

Using Easy-RSA and LibreSSL to generate a self signed CA certificate, creates a certificate with a serial number which appears to be too small when compared to OpenSSL.

This is described **[here](https://github.com/OpenVPN/easy-rsa/issues/759)**

This could be due to my error or misunderstanding but I felt it worth reporting.

Quoting [RFC 5280 section 4.1.2.2](https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.2):

"The serial number MUST be a positive integer assigned by the CA to each certificate.  It MUST be unique for each certificate issued by a given CA (i.e., the issuer name and serial number identify a unique certificate).  CAs MUST force the serialNumber to be a non-negative integer."

As such, the only requirements are that they are positive and unique (i.e. 1, 2, 3 are perfectly acceptable).

@4a6f656c Thank you.

I shall presume that this is known and acceptable.

